!!!
/ saved from url=(0050)http://getbootstrap.com/examples/starter-template/
%html{lang: "en"}
  = partial "/layouts/head.haml"
%body{screen_capture_injected: "true"}
  .container{role: "main"}

    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} Patient Group
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "/research"} Research Topics
            %li
              %a{href: "/data"} My Health Data
            %li
              %a{href: "/social"} People
            %li
              %a{href: "/contributions"}
                My Karma
                .badge
                  800
          %ul.nav.navbar-nav.pull-right
            %li
              %a{href: "/account"} seanahrens@gmail.com


    // Page Header
    - unless current_page.data.hide_page_header
      .row
        .col-xs-12
          .page-header
            %h1
              = current_page.data.title || current_page.data.page_title
              %small= current_page.data.page_subtitle
    = yield
    %br/
    %br/
    %br/
    = partial "/layouts/foot.haml"